
body {
    display: flex;
    justify-content: center;
    background-color: #040F16;
    color: #FBFBFF;
    font-family: 'Montserrat', sans-serif;
}

.detailsBody{
    align-items: center;
}

.detailsInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.detailsPage{
    display: flex;
    height: 100%;
    width: 100%;    
}

.detailsList {
    list-style-type: none;
    padding-left: 0;
    width : 100%;
}

.detailsList b {
    display: inline-block;
    width: 20%;
    position: relative;
    padding-right: 10px;
    /* Ensures colon does not overlay the text */
}

.detailsList b::after {
    content: ":";
    position: absolute;
    right: 10px;
}

.movieList {
    background-color: #0E273C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55%;
}

.detailBox {
    display: none;
    background-color: #0B4F6C;
    width: 100%;
    margin-top: 2%;
    margin-right: 0%;
}

.movieBox {
    display: flex;
    height: 300px;
    width: 100%;
    margin-top: 2%;
    margin-right: 0%;
}

.movieImgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 35%;
}

.movieInfo {
    padding: 2%;
    height: 100%;
    width: 65%;
}

.movieImg {
    object-fit: contain;
    max-height: 95%;
    max-width: 95%;
    width: auto;
    height: auto;
}